
<!DOCTYPE html>
<html>
<head>
    <title>NetFLORIST</title>
    <meta charset="utf-8" />
    <script src="../Scripts/angular.js"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/app.js"></script>
    <script src="../Scripts/jquery-3.0.0.min.js"></script>
    <script src="../Scripts/jquery-3.0.0.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />


    <style>
        * {
            box-sizing: border-box
        }
        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        /* Set a style for all buttons */
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }



        /*header border*/
        div.container {
            width: 100%;
            border: 1px solid pink;
        }

        header, footer {
            padding: 1em;
            color: white;
            background-color: pink;
            clear: left;
            text-align: center;
        }


        /*barmenu*/
        div.scrollmenu {
            background-color: pink;
            overflow: auto;
            white-space: nowrap;
            text-align: right;
        }

            div.scrollmenu a {
                display: inline-block;
                color: white;
                text-align: right;
                padding: 12px;
                text-decoration: none;
            }

                div.scrollmenu a:hover {
                    background-color: #777;
                }


    </style>

    <script>
        function validateForm() {
            var x = document.forms["myForm"]["productname"].value;
            if (x == "") {
                alert("productname must be filled out");
                return false;
            }

            var checkproductprice = document.forms["myForm"]["productprice"].value;
            if (checkproductprice == "") {
                alert("productprice must be filled out");
                return false;
            }

            var checkproductcategory = document.forms["myForm"]["productcategory"].value;
            if (checkproductcategory == "") {
                alert("productcategory must be filled out");
                return false;
            }

            var checkproductpicture = document.forms["myForm"]["productpicture"].value;
            if (checkproductpicture == "") {
                alert("productpicture must be filled out");
                return false;
            }



        }
    </script>

</head>
<body ng-app="myApp" ng-controller="adminproductscontroller">

    <form name="myForm" onsubmit="return validateForm()" method="post" >

        <div class="container">
            <header>
                <p><a style="float:left" href="home.html"><img border="0" alt="W3Schools" src="../Gallery/Icon/home.jpg" width="75" height="75"></a></p>
                <p><a style="float:right" href="" ng-click="logout()"><img img src="../Gallery/Icon/logout.png" width="50" height="50"></a></p>
                <h1>NETFLORIST</h1>
            </header>
            <br />
            <div class="scrollmenu">
                <a href="/Html/adminproducts.html">Products</a>
                <a href="/Html/drivers.html">Drivers</a>
                <a href="/Html/admins.html">Admins</a>
                <a href="/Html/supplierAdmin.html">Suppllier</a>
            </div>
        </div>

        <div ng-init="varImage = '../Gallery/Products/'">

            <div class="container">
                <p><a><img border="0" src="../Gallery/Asserts/admin2.jpg" width="1110" height="200"></a></p>

                <div class="col-md-6 col-md-offset-1">

                    <br />
                    <h2>Products Information</h2>
                    <label>Search Products</label>
                    <p><input type="text" ng-model="search"></p>

                    add product
                    <p><a class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2"><img border="0" src="../Gallery/Icon/addproduct.png" width="50" height="50"></a></p>
                    <br /><br />
                    <table class="table table-striped">
                        <tr>
                            <td><b>Product <br /> id</b></td>
                            <td><b>Product <br /> quantity</b></td>
                            <td><b>Product <br /> price</b></td>
                            <td><b>Product <br /> name</b></td>
                            <td><b>product <br /> category</b></td>
                            <td><b>product <br /> picture</b></td>
                            <td></td>
                            <td></td>
                            <td><b>Manage  <br />Products</b></td>
                        </tr>
                        <tr ng-repeat="prod in products | filter:search">
                            <td>{{prod.productid}}</td>
                            <td>{{prod.productqty}}</td>
                            <td>{{prod.productprice}}</td>
                            <td>{{prod.productname}}</td>
                            <td>{{prod.productcategory}}</td>
                            <td><img ng-src="{{varImage + prod.productpicture}}"></td>
                            <td></td>
                            <td></td>
                            <td>
                                edit
                                <p><a class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-click="editProducts(prod.productid)"><img border="0" src="../Gallery/Icon/edit.png" width="50" height="50"></a></p>
                                <br /> <br /> <br />
                                delete
                                <p><a class="btn btn-info btn-lg" ng-click="deleteProducts(prod.productid)"><img border="0" alt="W3Schools" src="../Gallery/Icon/delete.jpg" width="50" height="50"></a></p>
                            </td>
                        </tr>
                    </table>
                    <div id="myModal2" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">ADDING PRODUCT</h4>
                                </div>
                                <div class="modal-body">
                                    <b>Productname:</b>
                                    <input type="text" name="productname" id="productname" ng-model="newproduct.productname" placeholder="productname" required />
                                    <br />
                                    <b>Productprice:</b>
                                    <input type="text" name="productprice" id="productprice" ng-model="newproduct.productprice" placeholder="productprice" required />
                                    <br />
                                    <b>Productquantity:</b>
                                    <input type="text" name="productquantity" id="productquantity" ng-model="newproduct.productqty" required placeholder="productquantity disabled" disabled />
                                    <br />
                                    <b>productcategory:</b><br />
                                    <select ng-model="newproduct.productcategory">
                                        <option value="FLOWER">FLOWER</option>
                                        <option value="CAKE">CAKE</option>
                                        <option value="BEER">BEER</option>
                                        <option value="JEWELRY">JEWELRY</option>
                                    </select>
                                    <br /><br />
                                    <b>
                                        productpicture :<br />
                                        <input type="file" name="filename" id="myFile" accept="image/*">
                                    </b>
                                    <input type="text" name="productpicture" id="image" ng-model="newproduct.productpicture" placeholder="productpicture" required />
                                    <br /> <br />
                                    <button type="button" value="AddProduct" ng-model="DisplaySave" ng-click="createProducts()"> AddProduct</button>
                           
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <script>
                        document.getElementById('myFile').onchange = uploadOnChange;
                        function uploadOnChange() {
                            var image = this.value;
                            var lastIndex = image.lastIndexOf("\\");
                            if (lastIndex >= 0) {
                                image = image.substring(lastIndex + 1);
                            }
                            document.getElementById('image').value = image;
                        }
                    </script>


                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">EDIT PRODUCT</h4>
                                </div>
                                <div class="modal-body">
                                    <b>AUTO ID     :</b>
                                    <input type="text" ng-model="newproduct.productid" placeholder="Auto ID"  disabled/>
                                    <br />
                                    <b>Productname:</b>
                                    <input type="text" name="productname" id="productname" ng-model="newproduct.productname" required placeholder="productname" />
                                    <br />
                                    <b>Productprice:</b>
                                    <input type="text" name="productprice" id="productprice" ng-model="newproduct.productprice" required placeholder="productprice" />
                                    <br />
                                    <b>Productquantity:</b>
                                    <input type="text" name="productquantity" id="productquantity" ng-model="newproduct.productqty" required placeholder="productquantity disabled" disabled />
                                    <br />
                                    <b>productcategory:</b><br />
                                    <select ng-model="newproduct.productcategory">
                                        <option value="FLOWER">FLOWER</option>
                                        <option value="CAKE">CAKE</option>
                                        <option value="BEER">BEER</option>
                                        <option value="JELLERY">JELLERY</option>
                                    </select>
                                    <br /><br />
                                    <b>
                                        productpicture :<br />
                                        <input type="file" name="filename" id="myFileUpdate" accept="image/*">
                                    </b>
                                    <input type="text" name="productpicture" id="imageUpdate" ng-model="newproduct.productpicture" required placeholder="productpicture" />
                                    <br />
                                    <button type="button" value="Update" ng-model="DisplayUpdate" ng-click="updateProducts()">UpdateProduct</button>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <script>
                        document.getElementById('myFileUpdate').onchange = uploadOnChange1
                        function uploadOnChange1() {
                            var imageUpdate = this.value;
                            var lastIndex = imageUpdate.lastIndexOf("\\");
                            if (lastIndex >= 0) {
                                imageUpdate = imageUpdate.substring(lastIndex + 1);
                            }
                            document.getElementById('imageUpdate').value = imageUpdate;
                        }
                    </script>
                </div>
            </div>
        </div>
    </form>

</body>
</html>

